.header{
  background-image: url('bg.png');
  margin:0 auto;
}
.headcontent{
  padding-top: 10%;
}

.title{
  display: inline-block;
  width:70%;
  /*超出图片容器部分隐藏
  overflow: hidden;
  /*显示图片容器边框*/
  border:1px solid red;
}
.title img{
  width: auto;
  height:auto;
  max-width:100%;
  max-height:100%;
}

/*导航栏设置-------------------------------------------------------------------------*/
.navigation{
  display: inline-block;
  width: 29%;
  background-color: black;
}

ul{
  font-family: serif;
  font-size: 16px;

  /*去掉黑点,删除边距和填充*/
  list-style-type: none;  
  padding: 0px;
  margin: 0px;
  text-align: left;/*文字左侧对齐*/
  margin-top: 0%;
  
}
li{
  float:left;
  text-align: center;
  width: 32%;
  /*background-color: green;*/
}
li a, .dropbtn{
  text-decoration: none;
  color: white;
  padding: 0 1%;
}
li a:hover, .dropdown:hover{
  background-color: rgb(58, 36, 155);
}

.dropdown{
  display: inline-block;
}
.dropdown-content{
  display: none;
  position:absolute;
  background-color:#f9f9f9;
  min-width: 10%;
  min-height: 5%;
  box-shadow:0px 8px 16px 0px
    rgba(0,0,0,0.2);
}

.dropdown-content a
{
  color:black;
  padding:12px 16px;
  text-decoration:none;
  display:block;
}

.dropdown-content a:hover {background-color: red}

.dropdown:hover .dropdown-content
{
  display:block;
}
/*-------------------------------------------------------------------------------*/

/*content的设置-------------------------------------------------------------------*/
.pic0, .pic4, .pic8{
  margin-left: 15%;
}

.pic0, .pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7,.pic8, .pic9, .pic10, .pic11,
.nav0, .nav1, .nav2, .nav3, .nav4, .nav5, .nav6, .nav7, .nav8{
  display: inline-block;
  width:10%;
}

.pic0 img, .pic1 img, .pic2 img, .pic3 img, .pic4 img, .pic5 img, 
.pic6 img, .pic7 img, .pic8 img, .pic9 img, .pic10 img, .pic11 img,
.nav0 img, .nav1 img, .nav2 img, .nav3 img, .nav4 img, .nav5 img, 
.nav6 img, .nav7 img, .nav8 img{
  width: auto;
  height:auto;
 max-width:100%;
 max-height:100%;
}

.pic0, .pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7,.pic8, .pic9, .pic10, .pic11{
  position: relative;
}
.q{
  position: absolute;
  bottom: 0;
  left: 25%;
}
/*-------------------------------------------------------------------------------*/

